@font-face {
  font-family: 'Vignette-Script';
  src: url('Vignette-Script.svg#Vignette-Script') format('svg'),
       url('Vignette-Script.ttf') format('truetype'),
       url('Vignette-Script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vignette';
  src: url('Vignette.eot');
  src: url('Vignette.eot?#iefix') format('embedded-opentype'),
       url('Vignette.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

