<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
 <div class="container">
  <div class="navbar-header">
   <a class="navbar-toggle">
	 <span class="sr-only">Toggle navigation</span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	</a>
   <a class="navbar-brand" href="#">Project name</a>
  </div>
  <div id="slidemenu">

		 <form class="navbar-form navbar-right" role="form">
		   <div class="form-group">
			 <input type="search" placeholder="search" class="form-control">
		   </div>
		   <button type="submit" class="btn btn-primary">Search</button>
		 </form>

   <ul class="nav navbar-nav">
	   <li class="active">
	   		<a href="#">Home</a>
	   	</li>
	   	<li>
	   		<a href="#">Basic</a>
	   	</li>
	   	<li>
	   		<a href="read.html">Reading K-12</a>
	   	</li>
	   	<li>
	   		<a href="#">Math K-12</a>
	   	</li>
	   	<li>
	   		<a href="#">Resources</a>
	   	</li>
	   	<li>
	   		<a href="#"> Conversation</a>
	   	</li>
	   	<li>
	   		<a href="#"> Test Preparation </a>
	   	</li>
	   	<li>
	   		<a href="#"> Contact Us </a>
	   	</li>
		<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		 <ul class="dropdown-menu">
		  <li><a href="#">Action</a></li>
		  <li><a href="#">Another action</a></li>
		  <li><a href="#">Something else here</a></li>
		  <li class="divider"></li>
		  <li class="dropdown-header">Nav header</li>
		  <li><a href="#">Separated link</a></li>
		  <li><a href="#">One more separated link</a></li>
		  <li><a href="#">Action</a></li>
		  <li><a href="#">Another action</a></li>
		  <li><a href="#">Something else here</a></li>
		  <li class="divider"></li>
		  <li class="dropdown-header">Nav header</li>
		  <li><a href="#">Separated link</a></li>
		  <li><a href="#">One more separated link</a></li>
		  <li><a href="#">Action</a></li>
		  <li><a href="#">Another action</a></li>
		  <li><a href="#">Something else here</a></li>
		  <li class="divider"></li>
		  <li class="dropdown-header">Nav header</li>
		  <li><a href="#">Separated link test long title goes here</a></li>
		  <li><a href="#">One more separated link</a></li>
		 </ul>
		</li>
   </ul>

  </div>
 </div>
</div>
