<?php // facebook ?>
<meta property="og:url" content="<?php echo $this->Html->url('/', true); ?>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Learn Khmer Online" />
<meta property="og:description" content="រៀនភាសាខ្មែរនៅលើអនឡាញ" />
<meta property="og:image" content="<?php echo $this->Html->url('/img/ads/1920x362.jpg', true); ?>" />

<?php // gplus ?>
<meta property="og:title" content="Learn Khmer Online" />
<meta property="og:image" content="<?php echo $this->Html->url('/img/ads/1920x362.jpg', true); ?>" />
<meta property="og:description" content="រៀនភាសាខ្មែរនៅលើអនឡាញ" />