@font-face {
  font-family: 'Kh-Muol-Pali';
  src: url('Kh-Muol-Pali.eot');
  src: url('Kh-Muol-Pali.eot?#iefix') format('embedded-opentype'),
       url('Kh-Muol-Pali.svg#Kh-Muol-Pali') format('svg'),
       url('Kh-Muol-Pali.ttf') format('truetype'),
       url('Kh-Muol-Pali.woff') format('woff'),
       url('Kh-Muol-Pali.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

