/*Fonts*/
@import "fonts.css";

/*Navigation*/
@import "navigation.css";

body {
    font-family: 'Hanuman', Fallback, sans-serif;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

body p {
    line-height: 30px;
}

.container {
    max-width: 990px;
}

a.disabled{
    pointer-events: none;
    cursor: default;
}

main header {
    position: relative;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    height: 750px;
    overflow: hidden;
    background-position-y: 90%;
    background-position: center;
}

header .cld-top {
    position: absolute;
    z-index: 1;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}

header .head-top {
    position: relative;
    z-index: 2;
    padding-top: .5rem;
}

.txt-menu-cl {
    color: #F26531 !important;
}

.navbar .navbar-brand {
    color: #F26531;
    font-size: 1.2rem;
}

.banner-blog #section-info {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 57%;
    left: 50%;
    text-align: center;
    width: 100%;
}

#section-info h2 {
    font-size: 36px;
    line-height: 55px;
}

#section-info p {
    font-size: 26px;
}

.level-blog {
    margin-top: -7%;
}

.level-blog h3 {
    font-size: 36px;
    padding-top: 15px;
}

.s-title {
    color: #F26531;
    font-size: 36px;
    font-family: 'KhmerOsKoulen', Fallback, sans-serif;
}

.gold-mission-blog .icon-circle {
    background-color: #0065A4;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-flex;
}

.gold-mission-blog .icon-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gold-mission-blog ul li {
    line-height: 50px;
}

.gold-mission-blog {
    padding: 100px 0 100px 0;
}

.member-blog {
    padding: 100px 0 50px 0;
    background-image: url('../img/member_bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.member-blog .member-wrap > img {
    width: 100%;
}

.slick-slide:focus {
    outline: none;
}

.member-blog .member-wrap section > h4 {
    color: #0065A4;
    margin-bottom: 0px;
}

.member-blog .member-wrap section > p {
    color: #F26531;
}

.member-blog .member-wrap section {
    text-align: center;
    padding-top: 15px;
}

footer {
    border-top: 5px solid #F26531;
    color: #fff;
    background-color: #0065A4;
    padding: 10px 0 10px 0;
}

footer p {
    margin-bottom: 0px;
}

footer .go-top {
    padding-left: 15px;
}

footer .go-top:hover {
    cursor: pointer;
}

footer #ft-arrow {
    padding: 15px;
}

footer span {
    padding: 5px;
}

footer .row .col-6:first-child > p {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.contact-blog {
    background-image: url('../img/footer_bg.png');
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
    background-size: contain;
}

.contact-blog section:first-child ul li {
    background-color: #F1F1F1;
    color: #0065A4;
    margin-bottom: 30px;
    padding: 2.3%;
}

.contact-blog .contact-wrap p {
    margin: 0px;
}

.contact-blog .contact-wrap span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.5rem;
    padding-left: 20px;
}

.contact-blog .contact-wrap #phone-icon {
    width: 30px;
}

.contact-blog form button[type="submit"] {
    background-color: #F26531;
    color: #fff;
    border-color: #F26531;
}

.contact-blog .contact-form {
    padding-top: 15px;
}

.contact-blog .parthner-blog {
    padding-top: 100px;
}

.parthner-wrap .p-item {
    width: 175px;
    height: 100px;
    background: #dadada;
    border-radius: 5px;
    flex: 1;
}

.parthner-wrap .p-item img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
    object-fit: contain;
    padding: 5px;
}

.parthner-wrap .slick-track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu {
    padding-top: 100px;
}

.footer-menu ul li a {
    color: #0065A4;
}

.footer-menu ul li {
    line-height: 30px;
}

.footer-menu .view-counter {
    font-size: 30px;
    padding-top: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.2rem;
    padding-right: 1.5rem;
}

.banner-blog #section-info button {
    font-size: 1rem;
}

.member-blog .member-wrap {

}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

/*COLOR AND BACKGROUND*/

.txt-yellow {
    color: #F26531;
}

.txt-blue {
    color: #0065A4;
}

.txt-purple {
    color: #5D2999;
}

.btn-orange {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
}

.btn-blue {
    color: #fff;
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.bg-dakr-blue {
    background-color: #0067a8;
    color: #fff;
    background-color: #0067a8;
    border-color: #0067a8;
}

.btn-green {
    color: #fff;
    background-color: #96D81F;
    border-color: #96D81F;
}

.border-orange {
    border-color: #F26531 !important;
}

.btn-donate-bg {
    background-color: #04558a;
    color: #fff;
    background-color: #04558a;
    border-color: #04558a;
}

.border-blue {
    /* border: .2rem solid #3085c6 !important; */
}

.bg-light-yellow {
    background-color: #ffe568;
}

.bg-light-green {
    background-color: #6fceae;
}

.txt-red {
    color: #ff4433;
}

.bg-red {
    background-color: #ff4433;
    border-color: #ff4433;
    color: #fff;
}

.bg-gray {
    color: #fff;
    background-color: #cbcccb;
}

.d-over:hover {
    cursor: auto;
    color: #fff;
}

/*Report Page*/

.bread-blog-line {
    background-image: url(../img/header_bg_line.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 2px;
    color: #fff;
    position: relative;
}

.bread-blog {
    background-image: url('../img/header_bg.jpg');
    background-position: top;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 130px;
    color: #fff;
    position: relative;
}

.bread-blog ul li a {
    color: #fff;
    text-decoration: none;
}

.bread-blog .crumb-wrap {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.bread-blog h2 {
    margin-bottom: 0;
    padding-bottom: 15px;
}

.bread-blog ul {
    margin-bottom: 0;
}

.expense1-blog section h3 {
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.expense1-blog section span {
    font-weight: bold;
}

.expense1-blog .read-more {
    border-radius: 25px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 3px solid #F26531;
}

.expense1-blog,
.expense2-blog,
.expense3-blog,
.about-info,
.about-info-1,
.about-contact-wrap,
.about-version,
.qa-wrap {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.expense2-blog .read-more, .expense3-blog .read-more {
    border-radius: 25px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 3px solid #fff;
}

.expense2-blog {
    background-image: url('../img/expense_bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.expense3-blog {
    background: #15504b;
    background-position: center;
    background-repeat: no-repeat;
}

.expense2-blog .row:not(:last-child) div, .expense3-blog .row:not(:last-child) div {
    line-height: 3rem;
}

.tb-expense {
    color: #fff;
}

.tb-expense tbody > tr td:first-child {
    background-color: #23ad8b;
    text-align: right;
    width: 30%;
    vertical-align: middle;
}

.tb-expense tbody > tr td:last-child {
    background-color: #d7f0ea;
    color: initial;
    font-family: 'Hanuman', Fallback, sans-serif;
}

.expense1-blog img {
    width: 60%;
}

/*Donation Page*/

.b-dark-blue {
    border: 0.5px solid #03568c;
    margin-bottom: 1rem;
}

.donate-form button:hover {
    color: #F26531;
}

.btn-donate-active {
    color: #F26531 !important;
}

/*Resources Page*/

.rs-blog {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bg-size-cover {
    background-size: cover;
}

.rs-blog img {
    width: 370px;
}

/*About Us Page*/

.about-info-1 {
    background-image: url(../img/member_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about-icon-wrap {
    font-size: 1.5rem;
}

.about-icon-wrap p:last-child {
    padding-top: 10px;
    font-size: 20px;
}

.about-icon-wrap p:first-child {
    height: 75px;
}

.about-info-1 .row div:nth-child(3) p:first-child {
    border: 1px solid #F26531;
    border-radius: 50%;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.about-info-1 .row div:nth-child(3) p:first-child > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.about-version .read-more {
    border-radius: 25px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 3px solid #fff;
}

.located-wrap {
    position: absolute;
    top: -60%;
}

/*Question and Answer*/

.lst-lesson li a {
    color: initial;
    text-decoration: none;
    font-size: .9rem;
}

.lst-lesson li {
    border-bottom: 1px solid #dee2e6;
}

.lst-lesson li:hover {
    cursor: pointer;
    background-color: #257eb6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.lst-lesson .active {
    background-color: #257eb6;
    color: #fff;
}

.lst-lesson li:hover > a {
    color: #fff;
}

.answer-wrap h4 {
    font-weight: bold;
    color: #0065A4;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

#term-modal .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#term-modal .term-ok {
    text-decoration: none;
    color: inherit;
}

.banner-blog #section-info button:hover {
    color: #fff;
}

/*Under Construction*/

.const-page section {
    border-top: 2px solid #0065A4;
    width: 50%;
}

.const-page section > h3 {
    margin: 2rem;
}

.const-page section > a,
.error-page a {
    color: #fff;
    text-decoration: none;
    background-color: #F26531;
    border-radius: 25px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 3px solid #0067a8;
}

.error-page img {
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.read-more:hover {
    text-decoration: none;
    color: #F26531;
}

.reading-wrap {
    padding-top: 2rem;
    padding-bottom: 4rem;
    max-width: 1230px;
    margin: auto;
}

.head-s-list {
    padding-bottom: .5rem;
}

.b-bottom-blue {
    border-bottom: 1px dashed #0065A4;
}

.head-s-list > div {
    float: left;
    background-color: #ff4433;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
}

.head-s-list > div > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.reading-wrap .cate-list li > ul > li:hover a,
.book-type li:hover > a,
.reading-wrap .cate-list li > ul li.active a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: #fc0b22;
    display: block;
}

.reading-wrap .cate-list > li {
    border-bottom: 1px solid #0065A4;
    border-bottom-style: dashed;
    line-height: 2rem;
}

.reading-wrap .cate-list li a,
.book-type li > a {
    color: #0065A4;
    text-decoration: none;
    display: block;
    padding-left: 15px;
}

.vdo-wrap {
    border: .2rem solid #cbcccb;
    border-radius: 5px;
}

.vdo-wrap h4 {
    padding: .7rem;
    border-bottom: 4px solid #cbcccb;
    margin-bottom: .7rem;
    border-bottom-style: double;
}

.vdo-item {
    background-color: #f1f2f1;
}

.vdo-item div:first-child {
    background-color: #aaabaa;
    padding: 10px;
}

.vdo-item div:first-child {
    width: 56px;
    background-image: url('../img/youtube-red.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.vdo-item div:first-child:hover {
    width: 56px;
    background-image: url('../img/youtube-black.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.vdo-item > a {
    margin-left: 10px;
    text-decoration: underline;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vdo-list > li:first-child {
    margin-bottom: .5rem;
}

.entry-content {
    border-radius: 5px;
}

.entry-content .vowel-info {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: fit-content;
    margin: auto;
}

.vowel-info .fa-angle-up {
    transition: .3s transform ease-in-out;
}

.vowel-info[aria-expanded="true"] .fa-angle-up {
    transform: rotate(-180deg);
}

.vowel-info:hover {
    text-decoration: none;
    color: #ff4433;
}

.letter-list .letter-wrap {
    border: 1px solid #ffbb22;
    border-radius: 5px;
    margin-top: 1rem;
}

.head-s-list h4 {
    font-size: 1.2rem;
}

.letter-wrap ul > li > button {
    font-size: 11px;
}

.letter-wrap ul {
    margin-bottom: 10px;
    justify-content: center;
}

.letter-wrap img {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.letter-list .letter-wrap:hover {
    cursor: pointer;
    background-color: #fef698;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.bg-sea {
    background-color: #00bef2;
    color: #fff;
}

.bg-d-green {
    background-color: #3cb878;
    color: #fff;
}

/*Consonant Modal*/

.const-modal .modal-content {
    border: .4rem solid #1475b2;
    border-radius: 8px;
}

.const-modal .close-modal {
    color: #fff;
    position: absolute;
    top: -80%;
    right: -2%;
    background-color: #1475b2;
    width: 50px;
    height: 49px;
    text-align: center;
    border-radius: 50%;
}

.const-modal .close-modal:hover {
    cursor: pointer;
}

.const-modal .close-modal > span {
    font-size: 2.5rem;
    font-weight: bold;
}

.const-modal .m-title {
    display: flex;
    flex-direction: row;
}

.m-title:before,
.m-title:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #0065A4;
  margin: auto;
}

.image-letter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 240px;
}

.const-modal .btn-wrap a {
    border-radius: 25px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 3px solid #1475b2;
    color: #fff;
}

.btn-wrap > li:nth-child(1) a {
    background-color: #3cba79;
}

.btn-wrap > li:nth-child(2) a {
    background-color: #ef1c24;
}

.btn-wrap > li:nth-child(3) a {
    background-color: #20bad7;
}

.btn-wrap li {
    padding-bottom: 15px;
}

.btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.const-modal .modal-dialog {
    max-width: 700px;
}

.reading-wrap .poetry-wrap {
    padding-top: 1rem;
}

.grade-wrap {
    background-color: #9d8561;
    color: #fff;
    position: relative;
    margin-bottom: 1.5rem;
}

.grade-wrap > h2 {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
    text-align: center;
}

.grade-wrap:hover {
    cursor: pointer;
}

.grade-wrap[data-type="hide"]:hover {
    cursor: auto;
}

.grade-wrap[data-type="hide"] {
    background-color: #909090;
}

.grades-list {
    /* border-left: 2px solid #0065A4; */
}

.book-type li.active {
    background-color: #0065A4;
}

.book-type li.active > a {
    color: #fff;
}

.book-type > li {
    margin-bottom: 1px;
/*    border-bottom: 1px solid #0065A4;
    border-bottom-style: dashed;*/
    line-height: 2rem;
}

.book-type li > a {
    padding-left: 10px;
}

.book-type .fa-angle-right {
    transition: .3s transform ease-in-out;
}

.book-type li[aria-expanded="true"] .fa-angle-right {
    transform: rotate(90deg);
}

.book-type .child-list-wrap {
    list-style: none;
    padding-left: 1rem;
}

.book-type .child-list-wrap li {
    line-height: 1.7rem;
}

.book-type .child-list-wrap li > a {
    font-size: 15px;
}

/* Customize scroll in reading*/
.jspDrag {
    background: #BF9456 !important;
}

/*Mobile Screen*/
@media only screen and (max-width: 767px) {
    header .cld-top {
        display: none;
    }

    .banner-blog {
        border-top: 1px solid #F26531;
    }

    .s-title {
        line-height: 3rem;
    }

    .bread-blog h2,
    .bread-blog ul {
        text-align: center;
    }

    .footer-menu h4,
    .footer-menu ul {
        text-align: center;
        line-height: 2rem;
    }

    footer {
        text-align: center;
    }

    footer .row div:last-child {
        text-align: center !important;
    }

    .banner-blog .img-student {
        display: none;
    }

    .banner-blog #section-info {
        position: unset;
        transform: none;
    }

    main header {
        height: unset;
    }

    .banner-blog #section-info button {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .level-blog {
        margin-top: 0;
        padding-top: 2rem;
    }

    .member-blog,
    .contact-blog,
    .gold-mission-blog {
        padding: 2rem 0 2rem 0;
    }

    /*Report Page*/
    .bread-blog {
        height: 150px;
    }

    .bread-blog .crumb-wrap {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
    }

    .expense1-blog,
    .expense2-blog,
    .rs-blog,
    .about-info,
    .about-info-1,
    .about-contact-wrap,
    .about-version,
    .qa-wrap,
    .reading-wrap {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .expense2-blog {
        background-position: top;
        background-repeat: repeat-y;
    }

    /*Resource Page*/

    .bg-size-cover {
        background-size: contain;
    }

    .rs-blog .s-title {
        text-align: center;
    }

    .rs-blog:nth-child(2n) .row {
        flex-direction: column-reverse!important;
    }

    .about-info-1 ul,
    .about-contact-wrap h3 {
        text-align: center;
    }

    .located-wrap {
        position: unset;
        top: 0;
    }

    .about-version img {
        padding-top: 15px;
    }

    .about-version h3 {
        padding-bottom: 0.5rem !important;
    }

    .lst-lesson {
        display: none;
    }

    .const-page section {
        width: 100%;
    }

    .const-page section > h3 {
        font-size: 28px;
    }

    .parthner-blog,
    .footer-menu {
        padding-top: 2rem !important;
    }

    footer .row div:first-child {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    footer .row div:last-child {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center !important;
    }

    .footer-menu .view-counter {
        font-size: 1.5rem;
    }

    .head-s-list h4,
    .entry-content .vowel-info {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .reading-wrap .vdo-wrap {
        margin-bottom: 1rem;
    }

    .reading-wrap .entry-content {
        border: transparent !important;
    }

    .p-write > ul {
        position: static;
        transform: none;
        margin-bottom: 0;
    }

    .reading-wrap .container > .row {
        flex-direction: column-reverse;
    }

    .grades-list {
        border-left: none;
    }

    .lst-poetry {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .lst-poetry .poetry-wrap {
        flex: 0 0 48%;
    }

    .ws-list .pagination {
        justify-content: center !important;
    }

    .ws-grid-item {
        padding: 0px !important;
        flex: 0 0 48% !important;
    }

    .ws-grid {
        justify-content: space-between !important;
    }
}

@media screen
and (max-width: 767px)
and (orientation: landscape) {
    #section-info .row .col {
        max-width: 33.3333%;
    }

    .level-blog h3 {
        font-size: 2rem;
    }

    .gold-mission-blog img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .located-wrap img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .const-modal .modal-dialog {
        max-width: 500px;
    }

    .p-write > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .const-modal .btn-wrap a {
        width: 140px;
    }

    .ws-grid-item {
        padding: 0px !important;
        flex: 0 0 30% !important;
    }

    .ws-grid {
        justify-content: flex-start !important;
    }

    .ws-grid-item:not(:nth-child(3n+1)) {
        margin-left: calc((100% - (30% * 3)) / 2 ) !important;
    }

    footer .row div:first-child {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    footer .row div:last-child {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center !important;
    }

    .lange-wrap {
        margin-bottom: 0px;
    }

    .ws-grid-item {
        width: 17% !important;
    }
}

/* Portrait */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    main header {
        height: 570px;
        background-position: bottom;
    }

    .banner-blog #section-info {
        transform: translateX(-54%) translateY(-50%);
    }

    .level-blog img {
        width: 80%;
    }

    .gold-mission-blog,
    .member-blog {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contact-blog,
    .parthner-blog {
        padding-top: 3rem;
    }

    #mission-vision .row div:first-child {
        flex: 0 0 40%;
        max-width: 40%;
        position: relative;
    }

    #mission-vision .row div:first-child > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #mission-vision .row div:last-child {
        flex: 0 0 60%;
        max-width: 60%;
    }

    #mission-vision h3 {
        font-size: 34px;
    }

    .const-page section {
        width: 100%;
    }

    .ws-grid-item {
        width: 17% !important;
    }
}

@media screen and (min-width: 768px)
and (max-width: 992px) {
    main header {
        height: 570px;
        background-position: bottom;
    }

    .banner-blog #section-info {
        transform: translateX(-54%) translateY(-50%);
    }

    .level-blog img {
        width: 80%;
    }

    .gold-mission-blog,
    .member-blog {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contact-blog,
    .parthner-blog {
        padding-top: 3rem;
    }

    #mission-vision .row div:first-child {
        flex: 0 0 40%;
        max-width: 40%;
        position: relative;
    }

    #mission-vision .row div:first-child > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #mission-vision .row div:last-child {
        flex: 0 0 60%;
        max-width: 60%;
    }

    #mission-vision h3 {
        font-size: 34px;
    }

    .const-page section {
        width: 100%;
    }

    .bread-blog {
        height: 180px;
    }

    footer #ft-arrow {
        padding: 0px;
    }

    .letter-wrap span {
        display: none;
    }

    .vdo-item {
        flex-direction: column;
        text-align: center;
    }

    .vdo-item div:first-child,
    .vdo-item div:first-child:hover {
        width: 100%;
        height: 60px;
    }

    .head-s-list h4 {
        font-size: 1rem;
    }

    .reading-wrap {
        padding-right: 15px;
    }

    .ws-grid-item {
        flex: 0 0 30% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .ws-grid-item:not(:nth-child(3n+1)) {
        margin-left: calc((100% - (30% * 3)) / 2 ) !important;
    }
}

@media screen
and (min-width: 992px)
and (max-width: 1200px) {
    .ws-grid-item {
        width: 17% !important;
    }
}
