@font-face {
    font-family: 'Hanuman';
    src: url('../fonts/Hanuman/Hanuman.eot');
    src: url('../fonts/Hanuman/Hanuman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hanuman/Hanuman.woff2') format('woff2'),
        url('../fonts/Hanuman/Hanuman.woff') format('woff'),
        url('../fonts/Hanuman/Hanuman.ttf')  format('truetype'),
        url('../fonts/Hanuman/Hanuman.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'KhmerOsKoulen';
    src: url('../fonts/KhmerOsKoulen/KhmerOSKoulen.eot');
    src: url('../fonts/KhmerOsKoulen/KhmerOSKoulen.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KhmerOsKoulen/KhmerOSKoulen.woff2') format('woff2'),
        url('../fonts/KhmerOsKoulen/KhmerOSKoulen.woff') format('woff'),
        url('../fonts/KhmerOsKoulen/KhmerOSKoulen.ttf')  format('truetype'),
        url('../fonts/KhmerOsKoulen/KhmerOSKoulen.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'KhmerOSMoul';
    src: url('../fonts/KhmerOSMoul/KhmerOSMoul.eot');
    src: url('../fonts/KhmerOSMoul/KhmerOSMoul.woff2') format('woff2'),
         url('../fonts/KhmerOSMoul/KhmerOSMoul.woff') format('woff'),
         url('../fonts/KhmerOSMoul/KhmerOSMoul.ttf') format('truetype'),
         url('../fonts/KhmerOSMoul/KhmerOSMoul.svg#KhmerOSMoul') format('svg'),
         url('../fonts/KhmerOSMoul/KhmerOSMoul.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Kh-Muol-Pali';
  src: url('../fonts/KhPali/Kh-Muol-Pali.eot');
  src: url('../fonts/KhPali/Kh-Muol-Pali.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KhPali/Kh-Muol-Pali.svg#Kh-Muol-Pali') format('svg'),
       url('../fonts/KhPali/Kh-Muol-Pali.ttf') format('truetype'),
       url('../fonts/KhPali/Kh-Muol-Pali.woff') format('woff'),
       url('../fonts/KhPali/Kh-Muol-Pali.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



.f-koulen {
    font-family: 'KhmerOsKoulen', Fallback, sans-serif;
}

.f-moul {
    font-family: 'KhmerOSMoul', Fallback, sans-serif;
}

.f-hanuman {
    font-family: 'Hanuman', Fallback, sans-serif;
}

.f-khpali {
    font-family: 'Kh-Muol-Pali', Fallback, sans-serif;
}
