@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.68rem;
    font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}

@media (max-width: 767px) {

}
@media (min-width: 992px) {

}
@media (max-width: 991px) {

}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  
}
@media (max-width: 767px) {
    
}

@media (max-width: 767px) {
  
}

@media (max-width: 991px) {
    
}

.card .card-wrapper .card-box {
    padding: 10px 15px 0 15px;
}
.card-wrapper {
    background: #3c9ad4;
}

.mbr-card-text, .cid-qIjES4e5vV .mbr-section-btn {
    color: #fff;
}

.customize-paging .pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.customize-paging .pagination li.active a {
  background-color: #4CAF50;
  color: white;
}

.customize-paging .pagination a:hover:not(.active) {background-color: #ddd;}

#products .card:hover {
    cursor: pointer;
}

.overried-hr {
    border-top: 1px solid #85bada !important;
}

.audioplayer {
    height: 70px !important;
}