.m-nav,
.sidenav {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #e8e8e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #F26531;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #0065A4;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ul li {
    border-bottom: 1px solid #fff;
}

#nav-popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(195, 193, 193, 0.9);
    z-index: 100;
    top: 0;
    display: none;
}

.m-active {
    color: #0065A4 !important;
}

.navbar-brand:hover,
.navbar-light .nav-link:hover {
    color: #0065A4 !important;
}

/*Mobile Screen*/
@media only screen and (max-width: 767px) {
    .d-nav {
        display: none;
    }

    .sidenav {
        display: block;
    }

    .m-nav {
        font-size: 2rem;
        padding-right: 2rem;
        display: block;
    }

    .m-nav:focus,
    .m-nav:hover,
    .m-nav:active,
    .m-nav:visited {
        color: #F26531;
    }

    .img-logo {
        width: 200px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: block !important;
        flex-basis: unset;
    }

    .navbar-nav {
        flex-direction: row;
        -ms-flex-direction: row;
    }

    .lange-wrap {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) 
and (max-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: block !important;
        flex-basis: unset;
    }

    .navbar-nav {
        flex-direction: row;
        -ms-flex-direction: row;
    }

    .lange-wrap {
        margin-bottom: 0;
    }
}