.ws-wrapper:hover {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.ws-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.ws-grid-item {
    flex: 0 0 19%;
    margin-bottom: 1rem;
}

.ws-banner {
    width: 100%;
}

.ws-banner-wrap {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ws-item-desc > p {
    font-size: 13px;
    line-height: 1.5rem;
}

.ws-item-desc {
    padding-left: .5rem;
    padding-right: .5rem;
    position: absolute;
    overflow: hidden;
    background: #b6ceda;
    width: 100%;
    color: #006fc2;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    top: 130px;
    height: 210px;
}

.asterisk-wrap > ul {
    margin-bottom: 0px;
    float: right;
}

.asterisk-wrap {
    padding-left: .5rem;
    padding-right: .5rem;
}

.thumbnail:hover .ws-item-desc {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    top: 0;
    height: 210px;
}

.asterisk-wrap > a {
    float: left;
}

.ws-item-desc > h3 {
    margin-bottom: 0;
    font-size: 17px;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}

.cat-mobile {
    display: none;
}

@media only screen
and (max-width: 767px) {
    .cat-mobile {
        display: block;
    }
    .cat-desktop {
        display: none;
    }
}

@media screen
and (min-width: 768px) {
    .ws-grid-item:not(:nth-child(5n+1)) {
        margin-left: calc((100% - (19% * 5)) / 4 );
    }
}
