@font-face {
  font-family: 'Hanuman';
  src: url('Hanuman.eot');
  src: url('Hanuman.woff2') format('woff2'),
       url('Hanuman.woff') format('woff'),
       url('Hanuman.ttf') format('truetype'),
       url('Hanuman.svg#Hanuman') format('svg'),
       url('Hanuman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

