<?php
echo $this->Form->create('ReadingItem',
    array(
    'role' => 'form',
    'autocomplete' => 'off',
    'novalidate' => true,
    'enctype'=> 'multipart/form-data',
    'class' => 'form-create',
    'inputDefaults' => array(
        'legend' => false,
        'label' => false,
        'div' => false,
    )
));
echo $this->Form->hidden('id');
$readingId = isset($this->request->data['ReadingItem']['id']) ? $this->request->data['ReadingItem']['reading_id'] : $reading_id;
echo $this->Form->hidden('reading_id', [
    'value' => $readingId
]);
?>
<div class="row">
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <label>Name (Kh)</label>
                    <div>
                        <?php
                        echo $this->Form->input('title', array(
                            'placeholder' => 'Name (Kh)',
                            'class' => 'form-control',
                        )); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name (En)</label>
                    <div>
                        <?php
                        echo $this->Form->input('title_en', array(
                            'placeholder' => 'Name (En)',
                            'class' => 'form-control',
                        )); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <div>
                        <?php
                        echo $this->Form->input('description', array(
                            'class' => 'form-control description',
                            'type' => 'textarea',
                            'placeholder' => 'Descritpion',
                        )); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description (En)</label>
                    <div>
                        <?php
                        echo $this->Form->input('description_en', array(
                            'class' => 'form-control description',
                            'type' => 'textarea',
                            'placeholder' => 'Descritpion',
                        )); ?>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <?php $photo = isset($this->request->data('ReadingItem')['photo']) ? $this->request->data('ReadingItem')['photo'] : ''; ?>
                    <?php echo $this->Image->getCDNPreviewImage($photo, 'readings/novel'); ?>
                </div>
                <hr />
                <div class="form-group">
                    <label>Page</label>
                    <div>
                        <?php
                        echo $this->Form->input('order', array(
                            'placeholder' => 'Order',
                            'class' => 'form-control',
                        )); ?>
                    </div>
                </div>
                <div class="form-group">
                    <?php
                        $LABEL_NAME = $this->request->action === 'admin_create' ? 'Create' : __('COMMON_TXT_EDIT');
                        echo $this->Form->button($LABEL_NAME, array(
                            'class' => 'btn btn-primary btn-block btn-save',
                            'type' => 'submit'
                        )); ?>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {
    $.uploadPreview({
        input_field: "#image-upload",   // Default: .image-upload
        preview_box: "#image-preview",  // Default: .image-preview
        label_field: "#image-label",    // Default: .image-label
        label_default: "Choose File",   // Default: Choose File
        label_selected: "Change File",  // Default: Change File
        no_label: true// Default: false
    });
    
    $('.form-create').on('submit', function(e) {
        e.preventDefault();
        var that = this;
        var formData = new FormData($(that)[0]);
        var params = {
            type: 'post',
            url: BASE_URL + 'admin/novels/item_save',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function() {
                $.LoadingOverlay('show');
                $(that).find('.form-group').removeClass('has-error');
                $(that).find('.help-block').remove();
            }
        };
        ajax_request(params, function(data) {
            if (data.status === 0) {
                $.each(data.data, function(index, value){
                    var msg = '<span class="help-block">' + value[0] + '</span>';
                    var content = $(that).find('[name="data[ReadingItem][' + index +']"]');
                    $(content).closest('.form-group').addClass('has-error');
                    $(content).parent('div').append(msg);
                });
            } else {
                location.href = BASE_URL + 'admin/novels/item/' + '<?php echo $readingId; ?>';
            }
        });
    });
    
    $('.description').summernote({
        minHeight: 200,
        placeholder: 'Write here ...',
        focus: false,
        airMode: false,
    });
});
</script>
<?php
// https://opoloo.github.io/jquery_upload_preview/
echo $this->Form->end();
echo $this->Html->css(['imagePreview']);
echo $this->Html->script([
    'imagePreview',
], ['inline' => false]);

