@font-face {
  font-family: 'KhmerOSKoulen';
  src: url('KhmerOSKoulen.eot');
  src: url('KhmerOSKoulen.woff2') format('woff2'),
       url('KhmerOSKoulen.woff') format('woff'),
       url('KhmerOSKoulen.ttf') format('truetype'),
       url('KhmerOSKoulen.svg#KhmerOSKoulen') format('svg'),
       url('KhmerOSKoulen.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

