@font-face {
  font-family: 'KhmerOSMoul';
  src: url('KhmerOSMoul.eot');
  src: url('KhmerOSMoul.woff2') format('woff2'),
       url('KhmerOSMoul.woff') format('woff'),
       url('KhmerOSMoul.ttf') format('truetype'),
       url('KhmerOSMoul.svg#KhmerOSMoul') format('svg'),
       url('KhmerOSMoul.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

