
<!--BREADCRUMBS-->
<section class="bread-blog f-koulen">
    <div class="container">
        <div class="crumb-wrap">
            <h2><?php echo __('FRONTEND_MENU_TXT_MUSIC'); ?></h2>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    Chord
                </li>
            </ul>
        </div>
    </div>
</section>
<?php 
$list_title = [
    'Yan’s One Man 2021  Slow:',
    'SLOW ROCK: Korg Ek-50',
    'ម៉ាឌីស្សូន៖ Tempo: Auto | PSR-S975',
    'Kbatch ក្បាច់៖  Tempo: 85',
    'រាំវង់ | Romvong | Tempo: 125',
    'ឆាឆា៖ Tempo: 130',
    'ចង្វាក់ទ្វិស៖ Tempo: 145 ',
    'តាលុង៖ Dr. Talong: ',
    'ស្លូ ប៊ូលេរ៊ូ Bolero Leng',
    'Dr. Kantrim',
    'TECH_NO_3.S: Tempo: 135',
    'សារ៉ាវាន់: Tempo: 105',
    'Megaden: Tempo: 115 | Sound: Nexus 08',
];

$list_2 = [
    array(
        "នារីអាភ័ព្វ			_		A | 63 | Korg EK-50 |", "សម្លេងទ្រខ្មែរ			_	A | 63 | Korg EK-50 |",
         "ប្រុសស្នេហ៏ងក់ងរ		_	A | 63 | Korg EK-50 |", "សុំជាតួឯកក្នុងបេៈដូងបង 	_	A | 63 | Korg EK-50 |", "អនុស្សាវរីយ៍បាត់ដំបង 	_		Bb | 67 | Korg EK-50 |", "មហាសង្រ្កាន 			_	Gm | 65 | Korg EK-50 |", "ប៉ុន្មានថ្ងៃខែទៀត		_		Bb | 65 | Korg EK-50 |", "ព្រាត់ស្នេហ៏នីពេជចិន្តា 	_		Am | 65 | PSR-S975| VA: C", "ដួងព្រះច័ន្ទ្រាយ 		_		C | 67 | PSR-S975| VA: C", "ចំប៉ាផ្សារលើ			_	C | 60 | PSR-S975| VA: C", "រាត្រីជួបស្នេហ៏ 			_	D | 63 | PSR-S975 | VA: C", "គេមានសំណាង 		_		D | 65 | PSR-S975 | VA: C", "រដួលក្រចេះ 			_	D#m | 58 | PSR-S975| VA: C", "អូនជាស្នេហ៍ទីប៉ុន្មាន 		_	F | 65 | PSR-S975| VA: C", "សន្យាមុនគេង 			_	Dm | Auto play", "រាត្រីឡង់ប៊ិច			_	G | 60 | PSR-S975| VA: A & C", "ស្រណោះគ្រាកន្លង 		_	Gm | 70  60 | PSR-S975| VA: C", "ក្លិនក្លែបច័ន្ទូ 			_	G | 65 | 60 | PSR-S975| VA: C", "ស្នេហ៏ឆ្លងវេហា 		_		G# | 60 |", "ស្ទឹងសម្ងាត់ 			_	G# | 65 | PSR-S975| VA: A & C", "ភ្នុំពេញនឹកកំពង់ចាម 	_		G#m | 63 | PSR-S975| VA:  C", "ច័ន្ទអើយ 			_		G#m | 65 M:G#m | F: D#"
    ),
    // 'នារីអាភ័ព្វ' => 'A | 63 | Korg EK-50 |',
    // 'សម្លេងទ្រខ្មែរ'=> 'A | 63 | Korg EK-50 |',
    // 'ប្រុសស្នេហ៏ងក់ងរ'=> 'A | 63 | Korg EK-50 |',
    // 'សុំជាតួឯកក្នុងបេៈដូងបង'=>'A | 63 | Korg EK-50 |',
    // 'អនុស្សាវរីយ៍បាត់ដំបង' =>'Bb | 67 | Korg EK-50 |',
    // 'មហាសង្រ្កាន'=>'Gm | 65 | Korg EK-50 |',
    // 'ប៉ុន្មានថ្ងៃខែទៀត'=>'Bb | 65 | Korg EK-50 |',
    // 'ព្រាត់ស្នេហ៏នីពេជចិន្តា'=>'Am | 65 | PSR-S975| VA: C',
    // 'ដួងព្រះច័ន្ទ្រាយ' => 'C | 67 | PSR-S975| VA: C',
    // 'ចំប៉ាផ្សារលើ' => 'C | 60 | PSR-S975| VA: C',
    // 'រាត្រីជួបស្នេហ៏'=> 'D | 63 | PSR-S975 | VA: C',
    // 'គេមានសំណាង'=> 'D | 65 | PSR-S975 | VA: C',
    // 'រដួលក្រចេះ' => 'D#m | 58 | PSR-S975| VA: C',
    // 'អូនជាស្នេហ៍ទីប៉ុន្មាន'=> 'F | 65 | PSR-S975| VA: C',
    // 'សន្យាមុនគេង'=> 'Dm | Auto play',
    // 'រាត្រីឡង់ប៊ិច'=> 'G | 60 | PSR-S975| VA: A & C',
    // 'ស្រណោះគ្រាកន្លង' => 'Gm | 70  60 | PSR-S975| VA: C',
    // 'ក្លិនក្លែបច័ន្ទូ' => 'G | 65 | 60 | PSR-S975| VA: C',
    // 'ស្នេហ៏ឆ្លងវេហា' => 'G# | 60 |',
    // 'ស្ទឹងសម្ងាត់' => 'G# | 65 | PSR-S975| VA: A & C',
    // 'ភ្នុំពេញនឹកកំពង់ចាម' => 'G#m | 63 | PSR-S975| VA:  C',
    // 'ច័ន្ទអើយ' => 'G#m | 65 M:G#m | F: D#',

    array(
        "រាត្រីស្ងាត់			_		Gm | 64 | String & Guitar | PSR-S975 |",
     "សែនអល័យ		_		Bb | 64 | String & Guitar | PSR-S975 |",
      "អានី				_		G | 64 | String & Guitar | PSR-S975 |", 
      "ស្រឡាញ់ពេញបេះដូង _ 			Am | 64", "ស្ទឹងសែនប៉ារីស 		_		G | 63",
       "ស្រឡាញ់បងដល់កាន់ឈើជ្រាត់ _	Bb | 63 | Male | Female | G",
        "នឹកគ្រប់ពេលវេលា: 	_		G | 65",
        "ភ័ព្វសំណាង 		_		G",
         "ចង់ត្រឹមតែឃើញភ៍គ្តអូន 	_	C | 65",
          "ស្មេហ៏ក្រោមម្លប់ជ្រៃ 	_		Am |  64 | (F) (abcdega)",
           "បុផ្ផាកោះកែវ 		_		G (F#DE) 62",
            "ឯណាទៅថានសួគ៍ 	_		Bb | 64",
             "ក្រោមមេឃលើដី 		_		Bb | 64",
              "ស្រឡាញ់បងដល់ឆ្ងឹង: 	_		G", 
              "ដំបៅដួងចិត្ត		_		G |"
    ),
    array(
        "ថ្ងៃនេះរៀបការខ្ញុំ 		_		Am",
         "ល្អអើយសែនល្អ 		_		Am",
          "ក្រយប់ម្លេះ 		_		Dm",
           "ស្រស់អើយសែនស្រស់ 	_		Gm", 
           "រីសិចសុី			_		Em |"
    ),
    array("សត្វមហោរីយ៍		_		Bb", 
    "ផ្កាកំពុងរីក ឬមេឃស្រឡៈ ស្រី_	C | Auto", 
    "ផ្គលាន់គគ្រឹក 		_		C | Auto",
     "តាមកម្មផល ឬ បាំងពីភ្នែក ប្រុស_	C | Auto",
      "ផ្កាម៉ាក្លឿ			_		C | Auto",
       "ផ្កាឈូក			_		C | Auto (M) Bb | (F)",
        "កូលាបមួយទង		_		D | Auto",
         "សារាយនឹមនួន (M)	_		G | Auto",
          "ឪនារីនឹមនួន 		_		D#m |Auto", 
          "មាន់រងាវ 			_		Em/G | Auto",
           "ស្នេហ៏វ័យចំណាស់ 	_		F | Auto",
            "បងសុំសួរទៅកែវព្រលឹង_ 		F | Auto", 
            "ឪស្រអែមមាស់ស្នេហ៏ _			F | Auto",
             "ឆ្នាំថ្មីមកដល់ហើយ _			F | Auto",
              "មាសទឹកដប់ 	_			G | Auto", 
              "ចៅដក់ 		_			G | 90",
               "អាអួតមីអួត		_			G | Auto", 
               "មាសទឹក១០			_	G | Auto", 
               "ឧណាសារាយនឹមនួន	_		G | Auto ប្រុស (F) Female",
                "ខ្លាចតែខុស 		_			G | Auto",
                 "ឈ្មោះអូនដូចជាដួងតារា 	_	C | Auto", 
                 "ខ្មៅអើយខ្មៅ		_		F | Tempo: 90"
),
array("ស៍ក្រវ៉ាផ្កាម្រុំ 		_		A | (3/4)",
 "រដូវភ្លៀងធ្លាក់ 		_		A | (3/4)",
  "ឪតារាខ្ញុំអើយ 		_		A | (3/4)", "ពិបាកម្លេះទេ		_		A | (3/4)", "អ្នកណាអោយគូរ 	_		A | (3/4)", "ជិះលើខ្នងក្របី		_		A | (3/4)", "ចង្កេះរាងរាវ			_		A | | (3/4)", "រាំវង់ខ្នាតធំ 			_		A  | (3/4)", "អោយអត់ស្រឡះទៅ	_		Bb | (3/4)", "រដូវបុណ្យភ្ជុំ 		_		Bb | (1/2)", "គគីក្បែរវត្ត			_		C | (3/4)", "បេះផ្កាក្នុងបឹង		_		C | (3/4)", "ចុគក្នុងទ្រូង 		_		C |", "ស្រស់អើយស្រីស្រស់ 	_		C |", "កម្លោះមង្គលបូរី		_		D | (3/4)", "ឡើងរាំនឹងបងបានទេ	_		Dm |  (3/4)", "បងខំស្កាត់រក		_		Dm | (3/4)", "បាត់ដំបងមានអ្វីទៅ	_		Dm |  (3/4)", "ធាតុដែកធាតុភ្លើង	_		Em |", "អង្គុញបោៈទៅ		_		Em |", "ចំប៊ីសេរីសោភ័ណ		_		D#m |", "គេថាខ្ញុំចាស់		_		Em |", "ឆ្នាំថ្មីមិនភ្លេចទៅវត្ត	_		F#", "ទៅហើយមកវិញ 	_		D", "មេម៉ ាយកូនមួយ	_		F", "តូចអើយស្រីតូច		_		F", "កាលពីឆ្នាំមុន		_		G#", "រាត្រីផ្ការីក 			_		G#m", "អារុនសួស្តី 			_		G", "ភ្នែកខូចពីម្ចាស់		_		G", "សត្វចាបយំចេប		_		G", "អន្លង់រមៀត			_		G", "ក្រមុំគិតច្រើន		_		G", "ផ្កាកប្បាស់  		_		G", "កុកហេីរតែឯង 		_		G", "ឧតារាខ្ញុំអើយ 		_		G", "ស្រអែមផល្លា 		_		G", "ផ្កាក្នុងសួន្យ	 	_		G", "ភ្នំតូចភ្នំធំ			_		Gm| 113 | VA-3/4 | Korg EK-50 |", "បងមកពីនាយដល់អាយ	_	Gm| 113 | VA-3/4 | Korg EK-50 |", "កកក៏បាយ 			_	G", "ស្រីតូចច្រឡឹង			_	G"),
  array("យ៉ាងណាហើយស្នេហាខ្ញុំ 	_		Am", "សក់ខ្មៅរលោង			_		Am", "គេងយោលសព្វ			_		Am", "រាំឆាៗៗៗ				_		A", "ស្រឡាញ់ក្រមុំស្រុកឯង	_		Bb", "អាឡូអាឡូបង			_		Bb", "ស្រឡាញ់ក្រមុំស្រុកយើង	_	Cacha 8F/VA: C/Bb/133/PSR-S975", "ស្រណោៈផ្ការាំង			_	Chacha 8F/VA: C/Dm/133/PSR-S975", "បោកកូនជ្រូក 			_	Chacha 8F/VA: C/133/PSR-S975/G", "មុំអើយមុំ				_	Chacha 8F/VA: C/133/PSR-S975/ G", "កែវភ្នែក				_	Chacha 8F/VA: C/133/PSR-S975/E", "ខ្ញុំស្រឡាញ់ស្រីតូច		_		Cm", "មិនដែលឃើញសោះ		_		Dm", "ចាស់ជូរអែម 			_		Dm", "អោយតែបាន			_		Dm", "ស្រីៗឥឡូវមិនដូចពីដើមទេ	_		D", "ពេញវ័យ១៦ 			_		Dm", "ខាប់ពីតូល				_		F", "ស្រីខ្មែរល្អមែន			_		F", "ប្រុសសម័យអាប៉ូឡូ		_		G", "ចិត្តបងរំពឹង				_		G", "ឯណាទៅគូរព្រេងខ្ញុំ		_		Gm", "ស្នេហ៍ខ្ញុំនៅឯណា 		_		G", "គ្រាន់តែឃើញកាលណា	_		G#", "កញ្ញា៨០គីឡូ			_		Gm", "តើនៅឯណាស្នេហ៏ខ្ញុំ		_		F", "អែស្ប៊ាញ្ញឡា			_		Gm"),
  array("យប់នេះពិសេសមែន 		_	A | 145 | Korg E-50", "នាងអើយអញ្ជើញទៅណា 	_	Bb | 145 | Korg E-50", "រាំចង្វាក់ទិ្វសៗៗ			_	C | 145 | Korg E-50", "អេៗ អស្ចារ្យ 			_	C | 145 | Korg E-50", "លុយៗៗ លុយទិ ស្នេហា 	_	D | 145 | Korg E-50", "១ថ្ងៃក្រអូបបីដង 		_	Dm | 145 | Korg E-50", "ហេ! សួស្តីបងប្រុស 	_	_	G | 145 | Korg E-50", "តើម្ទេសឯណាមិនចេះហើរ 	_	G | 145 | Korg E-50"),
  array("ស្រណោៈម្លប់ដូង			_	Dm | 850 | Korg-EK-50", "យប់មិញកេៈញយៗ		_	Dm | 80 | Korg-EK-50", "ក្រវ៉ាន់សៀមរាប			_	Em | 80 | Korg-EK-50", "បងស្រឡាញ់ស្រីខ្មៅ		_	F | 77 | Korg-EK-50", "អូនសុំបេះដូងមួយចំណែក 	_	Dm | 77 | Korg-EK-50", "សម្រស់នារីខ្មែរ 			_	Gm | 77 | Korg-EK-50", "ក្រមុំខ្មែរលើ				_	F#m | Tempo: 80| Korg EK-50"),
  array("ស្នេហ៏ដូចជើងមេឃ		_	Am | 95", "ស្នេហ៏ដូចជើងមេឃ		_	Am | 85 | Dr. Bolero | Korg E-50", "ម្លប់ពោធ៍បាក់ខែង		_	Bb | Pop.Dr. 65 | Korg E-50", "ហួសពេលហើយ			_	Bb", "ដងស្ទឹងស្នេហា			_	Bb | 95", "កុំស្មានថាបងភ្លេច		_	Bb | 75", "ចិន្តាអូនចាំ 				_	Bb or D", "ពេលវេលា				_	Bb or C# Tempo: 80-90", "ចំរៀងគូរស្នេហ៏			_	C", "បើអូនបានបង			_	C#m | 80 | Pop.Dr.", "ដួងព្រះច័ន្ទ្រា			_	C", "តូចតន់មាសបង			_	C | 80 | Dr. Bolero | Korg E-50", "របាំចងស្នេហ៏			_	C | 82", "តូចតន់មាសបង			_	C | 80", "គេមានសំណាងខ្ញុំមានទឹកភ្នែក _	D", "គំនួចវាយោ			_		D#m", "តាំងយូស្នេហ៏	_			Eb | 80 | Dr. Bolero | Korg E-50", "អូនជាស្នេហ៏ទីប៉ុន្មាន	_		F | 73", "ជិះទូកលេងតាមគង្គា	_		F | 80 | Dr. Bolero | Korg E-50", "ស្នេហ៍ចំបីុស		_		F | 70 | Pop.Dr. | Korg E-50", "ច័ន្ទចាកមេឃ		_		G | 65 | Pop.Dr. | Korg E-50", "ផ្កាស្រស់ក្រពុំ		_		G | 80 | Dr. Bolero | Korg E-50", "ទាវអើយស្រីទាវ		_		G", "ស្រណោៈគ្រាដំបូង	_		Gm", "ភ័ព្វព្រេងវាសនា		_		G", "ក្លិនក្លែបចន្ទូ		_		G", "ផ្កាស្រស់ក្រពុំ		_		G | 80", "សម្លេងគីត្តា			_		Fm | 90", "បឹងក្រវ៉ាន់សូឡូ		_		G | 95", "ផ្កាយព្រឹក (យប់អើយយប់ស្ងាត់)	_ Dm  | 70", "ពេលបងឃើញអូននាងចុះ	_	Gm | 75", "ក្រអូបតែក្លិន			_	Gm 	Bolero and Slow Roc"),
  array("ឲ្យប្រពន្ធសុីសៀង		_	Gm | 120 |", "ក្រមុំកាត់ម៉ែ			_	Am | 120 |", "ចាក់អង្រ្កង				_	Bm | 115 |", "សម្លកូនអុក 			_	Bb | 115 |", "ឃើញគេរៀបការ			_	C | 115 |", "ដាក់ពាក្យអោយរុះរ៉ាន់		_	D | 105 |", "ក្រមុំតែងខ្លួន			_	D#m | 105 |", "ជិៈដំរីលេងនឹងបង			_	Em | 105", "នោអើយស្រីនោ!			_	Em | 105 |", "ប្រមូលអ្នក ស្សិង្កលចូលសារមន្ទីរ _	Dm | 110", "តាមអើយតាម		_		F | 110 |", "ត្រូវថ្នាំមីអូនស្រី		_		F | 110 |", "អ៊ូររ៉ាណៗ			_		Eb | 110 |", "រលឹមប្រុយៗ៖ 		_		F | 90 |", "ជូនអូនដើរលេង		_		Gm | 113 |", "នាំម៉ែទៅស្តី			_		Gm | 113", "ក្រមុំរាំឡក		_		D | 113 |", "ពាក់អាវមិនដែលឃើញដោះ	 _	Gm | 115 |", "ប្រយ៉ាប់ទៅណា		_		G | 115 |"),
  array("ជារឿងតូចតាច | ឡាឡាឡា	_	Bm & Am", "Girl you’re my love: Chord: 	C | _", "Lambada: 			_		Em | VA: C |"),
  array("ក្អែកហើរកាត់ស្ទឹង		_	A |", "តាំងពីតូច				_	C#m", "ថ្ងៃត្រង់ក្រលួច 		 	_	Dm |", "ចង់តែនៅក្រមុំ 			_	Cm |", "យប់នេះភ្លៀងធ្លាក់ធំ 		_	F |", "អូនរាំសមទេ			_	F |", "រូបអូនមិនល្អ 			_	F", "អីយ៉ាស់ ទូកអូនអុំឆ្លង 		_	G |", "មេម៉ាយសប្បាយចិត្ត		_	Gm | Tempo: 105 | ½ |", "អើយកំភេម			_	Gm | ប្រុស | Dm | Female | Khorg", "ស្រណោៈអូជ្រៅ 			_	Gm |", "អង្ករស្រូវថ្មី				_	G |"),
  array("អញ្ជើញចូលចុះបើស្រលាញ់	_	Dm | VA: ½", "ស្រះអួយ				_Fm | VA: ½  |", "ស្រឡាញ់អូនប៉ុណ្ណា!		_	Bm | VA: ½  |")

];

$new_value = [];
foreach ($list_2 as $key => $value) {
    foreach ($value as $key2 => $value2) {
        $new_key = explode('_', $value2);
        $value[$key2] = [
            trim($new_key[0]),
            isset($new_key[1]) ? trim($new_key[1]) : 'NO',
        ];
    }
    $new_value[] = $value;
}
 ?>
<div class="bg-white reading-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="head-s-list b-bottom-blue d-flex">
                    <h4 class="mb-0 f-koulen txt-blue"><?php echo __('CATEGORY'); ?></h4>
                </div>
                <div class="row pt-1">
                <div class="col">
                <ul class="nav nav-pills">
                <?php foreach ($list_title as $key => $value) : ?>
                    <li class="nav-item">
                        <a class="nav-link <?php echo $key == 0 ? 'active' : ''; ?>" data-toggle="pill" href="#menu<?php echo $key+1; ?>">
                        <?php echo $value; ?>
                        </a>
                    </li>
                    <?php endforeach; ?>
                </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div>
                    <div class="row lyrice">
                        <div class="col-md-12">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-content" style="padding-top: 10px;">
                                        <?php foreach ($new_value as $key4 => $value4) : ?>
                                            <div class="tab-pane container <?php echo $key4 == 0 ? 'active' : 'fade'; ?>" id="menu<?php echo $key4+1; ?>">
                                            <table class="table table-bordered table-sm table-striped" style="margin-bottom: 0px">
                                            <tr>
                                                <td><?php echo __('No'); ?></td>
                                                <td><?php echo __('Title'); ?></td>
                                                <td><?php echo __('Chord'); ?></td>
                                            </tr>
                                            <?php foreach ($value4 as $key5 => $value5) : ?>
                                            <tr>
                                                <td><?php echo $key5 + 1; ?></td>
                                                <td><?php echo $value5[0]; ?></td>
                                                <td><?php echo $value5[1]; ?></td>
                                            </tr>
                                            <?php endforeach; ?>
                                        </table>
                                            </div>
                                        <?php endforeach; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
