/*Fonts*/
@import "../../css/fonts.css";

body {
    font-family: 'Hanuman', Fallback, sans-serif;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.has-error .error-message {
    color: #dd4b39;
    padding-top: 5px;
}

ul.nav-sidebar li > ul > li > ul > li > a {
    padding-left: 30px;
}

ul.nav-sidebar li > ul > li > ul > li > a.active {
    background-color: rgba(255,255,255,.1) !important;
    color: #fff !important;
    
}